body, html {
    margin: 0;
    margin-top: 2.5%;
    font-family: monospace;
    background-color: antiquewhite;
    font-size:large;
}

title {
    font-size: small;
}

.content {
    position: relative;
    margin: 0 auto;
    width: 400px;
}
.insert {
    margin-top: 450px;
    text-align: center;
}
.h2 {
    margin-top: 50px;
}

.sec-title {
    clear: both;
    position: relative;
    margin-top: 70px;}

#content {
    width: 70%;
}
img {
    position: absolute;
    top: 20%;
    left: -10%;
    width: 130%;
    height: 40%;
    max-width: 700px;
}